<template>
  <div class="bg-dark overflow-hidden rounded text-white" :class="{ [$style.muted]: bid.state !== 'PENDING' }">
    <div class="row no-gutters">
      <div class="col p-3">
        <div class="h6 m-0">{{ bid.name }}</div>
        <div class="small text-white-50">{{ bid.speedrunName }} - {{ bid.parentName }}</div>
      </div>
      <div class="col-auto d-flex">
        <button type="button" class="btn btn-dark px-3 rounded-0" :class="{ 'text-success': bid.state === 'OPENED' }" @click="approve()" title="Approve">
          <svg viewBox="0 0 24 24" fill="currentColor" width="24px" height="24px">
            <path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z" />
          </svg>
        </button>
        <button type="button" class="btn btn-dark px-3 rounded-0" :class="{ 'text-danger': bid.state === 'DENIED' }" @click="reject()" title="Reject">
          <svg viewBox="0 0 24 24" fill="currentColor" width="24px" height="24px">
            <path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  props: ["bid"],
  emits: ["approve", "reject"],
  methods: {
    approve() {
      this.$emit("approve");
    },
    reject() {
      this.$emit("reject");
    },
  },
});
</script>

<style module>
.muted {
  opacity: 0.5;
}
</style>
