<template>
  <template v-if="bids.length > 0">
    <div v-if="canClearBids" class="sticky-top">
      <button class="btn btn-block btn-primary" @click="clearBids()">
        Clear Processed Bids
      </button>
    </div>
    <div class="mt-2" v-for="bid in bids" :key="bid.id">
      <BidCard v-bind="{ bid }" @approve="updateBid(bid, 'OPENED')" @reject="updateBid(bid, 'DENIED')" />
    </div>
  </template>
  <div v-else class="alert alert-dark align-items-center d-flex h-100 h4 justify-content-center m-0 text-center text-muted text-uppercase">
    No pending bids
  </div>
</template>

<script>
import { defineComponent } from 'vue';

import BidCard from "./BidCard.vue";

export default defineComponent({
  components: { BidCard },
  props: ["bids"],
  emits: ["clear", "update"],
  computed: {
    canClearBids() {
      return this.bids.some((bids) => bids.state !== "PENDING");
    },
  },
  methods: {
    clearBids() {
      this.$emit("clear");
    },
    updateBid(bid, state) {
      this.$emit("update", bid, state);
    },
  },
});
</script>

<style module>
.clearButton {
  bottom: 0;
  position: sticky;
}

.bid {
  margin-bottom: 0.25rem;
}

.bid:last-child {
  margin-bottom: 0;
}
</style>
