<template>
  <template v-if="donations.length > 0">
    <div v-if="canClearDonations" class="sticky-top">
      <button class="btn btn-block btn-primary" @click="clearDonations()">
        Clear Read Donations
      </button>
    </div>
    <div class="mt-2" v-for="donation in donations" :key="donation.id">
      <DonationCard v-bind="{ donation }" @approve="updateDonation(donation, 'APPROVED')" @reject="updateDonation(donation, 'DENIED')" @pin="pinDonation(donation)" />
    </div>
  </template>
  <div v-else class="alert alert-dark align-items-center d-flex h-100 h4 justify-content-center m-0 text-center text-muted text-uppercase">
    No unread donations
  </div>
</template>

<script>
import { defineComponent } from 'vue';

import DonationCard from "./DonationCard.vue";

export default defineComponent({
  components: { DonationCard },
  props: ["donations"],
  emits: ["clear", "update", "pin"],
  computed: {
    canClearDonations() {
      return this.donations.some((donation) => donation.readState === "READ");
    },
  },
  methods: {
    clearDonations() {
      this.$emit("clear");
    },
    updateDonation(donation, state) {
      this.$emit("update", donation, state);
    },
    pinDonation(donation) {
      this.$emit("pin", donation);
    },
  },
});
</script>
