<template>
  <div class="bg-dark overflow-hidden rounded text-white" :class="{ [$style.muted]: donation.readState === 'READ' }">
    <div class="row no-gutters">
      <div class="col p-3">
        <div class="h6 m-0">{{ donation.from }}</div>
        <div class="small text-white-50">{{ donation.comment }}</div>
      </div>
      <div class="col-auto p-3 text-right">
        <div class="h6 m-0" v-currency="donation.amount" />
        <div class="small text-white-50">{{ formattedTime }}</div>
      </div>
      <div class="col-auto d-flex">
        <button type="button" class="btn btn-dark px-3 rounded-0" :class="{ 'text-info': donation.pinned }" @click="pin()" title="Pin">
          <svg viewBox="0 0 24 24" fill="currentColor" width="24px" height="24px">
            <path d="M16,9V4l1,0c0.55,0,1-0.45,1-1v0c0-0.55-0.45-1-1-1H7C6.45,2,6,2.45,6,3v0 c0,0.55,0.45,1,1,1l1,0v5c0,1.66-1.34,3-3,3h0v2h5.97v7l1,1l1-1v-7H19v-2h0C17.34,12,16,10.66,16,9z" fill-rule="evenodd" />
          </svg>
        </button>
        <button type="button" class="btn btn-dark px-3 rounded-0" :class="{ 'text-success': donation.commentState === 'APPROVED' }" @click="approve()" title="Approve">
          <svg viewBox="0 0 24 24" fill="currentColor" width="24px" height="24px">
            <path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z" />
          </svg>
        </button>
        <button type="button" class="btn btn-dark px-3 rounded-0" :class="{ 'text-danger': donation.commentState === 'DENIED' }" @click="reject()" title="Reject">
          <svg viewBox="0 0 24 24" fill="currentColor" width="24px" height="24px">
            <path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  props: ["donation"],
  emits: ["approve", "reject", "pin"],
  computed: {
    formattedTime() {
      const date = new Date(this.donation.date);

      return date.toLocaleString(undefined, {
        minute: "2-digit",
        hour: "2-digit",
      });
    },
  },
  methods: {
    approve() {
      this.$emit("approve");
    },
    reject() {
      this.$emit("reject");
    },
    pin() {
      this.$emit("pin");
    },
  },
});
</script>

<style module>
.muted {
  opacity: 0.5;
}
</style>
