<template>
  <div class="bg-dark overflow-hidden rounded text-white">
    <div class="row no-gutters">
      <div class="col p-3">
        <div class="h6 m-0">{{ incentive.name }}</div>
        <div class="small text-white-50">
          {{ incentive.speedrun ? incentive.speedrun__name : "Event Wide" }}
        </div>
      </div>
      <div v-if="incentive.goal" class="align-self-center col px-3">
        <div class="mb-1 progress">
          <div class="progress-bar" :style="{ width: `${incentive.total / incentive.goal * 100}%` }" />
        </div>
        <div class="clearfix small">
          <div class="float-left" v-currency="incentive.total" />
          <div class="float-right" v-currency="incentive.goal" />
        </div>
      </div>
    </div>
    <table class="border-top m-0 table table-dark table-sm" v-if="incentive.children.length > 0">
      <thead class="small">
        <tr>
          <th class="px-4">Name</th>
          <th width="125" class="px-4 text-right">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="option in sortedOptions" :key="option.id">
          <td class="px-4">{{ option.name }}</td>
          <td class="px-4 text-right" v-currency="option.total" />
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { orderBy } from 'lodash';
import { defineComponent } from 'vue';

export default defineComponent({
  props: ["incentive"],
  computed: {
    sortedOptions() {
      return orderBy(this.incentive.children, 'total', 'desc');
    },
  },
});
</script>
