<template>
  <template v-if="incentives.length > 0">
    <div class="mt-2" v-for="incentive in incentives" :key="incentive.id">
      <IncentiveCard v-bind="{ incentive }" />
    </div>
  </template>
  <div v-else class="alert alert-dark align-items-center d-flex h-100 h4 justify-content-center m-0 text-center text-muted text-uppercase">
    No active incentives
  </div>
</template>

<script>
import { defineComponent } from 'vue';

import IncentiveCard from "./IncentiveCard.vue";

export default defineComponent({
  components: { IncentiveCard },
  props: ["incentives"],
});
</script>
