{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <title>
          {% trans "Hosting Station" %} - {{ event.name }} - {% trans "Donation Tracker" %}
        </title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">

        <script src="{% static "jquery-3.5.1.slim.min.js" %}"></script>
        <script src="{% static "bootstrap.bundle.min.js" %}"></script>

        {{ bundle.css|safe }}
    </head>
    <body>
        <div id="app"></div>

        <script type="application/json" id="__APP_DATA__">
          {
            "props": {{ props|safe }}
          }
        </script>

        {{ bundle.js|safe }}
    </body>
</html>
