{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <title>
          {% trans "Administration" %} - {{ event.name }} - {% trans "Donation Tracker" %}
        </title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">

        <script src="{% static "jquery-3.5.1.slim.min.js" %}"></script>
        <script src="{% static "bootstrap.bundle.min.js" %}"></script>

        {{ bundle.css|safe }}

        {{ app_name|json_script:'app_name' }}
        {{ CONSTANTS|json_script:'CONSTANTS' }}
        {{ ROOT_PATH|json_script:'ROOT_PATH' }}
        {{ props|json_script:'props' }}
        {{ form_errors|json_script:'form_errors' }}

        <script type='text/javascript'>
          window.webpackPublicPath = "{% static 'gen/' %}";
          document.addEventListener("DOMContentLoaded", function () {
            window[JSON.parse(document.getElementById('app_name').textContent)](
              Object.assign(
                JSON.parse(document.getElementById('props').textContent),
                {
                  CONSTANTS: JSON.parse(document.getElementById('CONSTANTS').textContent),
                  formErrors: JSON.parse(document.getElementById('form_errors').textContent),
                  // FIXME: use the global version everywhere
                  csrfToken: document.querySelector('input[name=csrfmiddlewaretoken]').value,
                  CSRF_TOKEN: document.querySelector('input[name=csrfmiddlewaretoken]').value,
                  ROOT_PATH: JSON.parse(document.getElementById('ROOT_PATH').textContent),
                }
              )
            );
          });
        </script>

        {{ bundle.js|safe }}
    </head>
    <body>
        <form>
          {% csrf_token %}
        </form>

        <div style='display: none'>
          {% for key, form in forms.items %}
          {% if form %}
          {% if form.management_form %}
          <table data-form='{{ key }}' data-form-type='management'>{{ form.management_form }}</table>
          {% else %}
          <table data-form='{{ key }}'>{{ form }}</table>
          {% endif %}
          {% if form.empty_form %}<table data-form='{{ key }}' data-form-type='empty'>{{ form.empty_form }}</table>{% endif %}
          {% endif %}
          {% endfor %}
        </div>

        <div id="container"></div>
    </body>
</html>
