{% load donation_tags %}
{% load static %}
{% load i18n %}

{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">

        <style>
            #top {
                background-color: {% firstof event.header_color "var(--dark)" %};
                flex-shrink: 0;
                margin-bottom: 2rem;

                {% if event.header_image %}
                background-image: url("{{ event.header_image.url }}");
                background-position: {{ event.header_image_align }} center;
                background-repeat: no-repeat;
                {% endif %}
            }

            .opacity-50 {
                opacity: 0.5;
            }
        </style>

        <script src="{% static "jquery-3.5.1.slim.min.js" %}"></script>
        <script src="{% static "bootstrap.bundle.min.js" %}"></script>

        {% block head %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div class="d-flex flex-column overflow-auto vh-100">
            <div id="top">
                {% block nav %}
                <nav class="navbar navbar-expand navbar-dark small py-0">
                    <div class="container px-0">
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'tracker:index' %}">
                                        <i class="fa fa-home"></i>
                                    </a>
                                </li>
                                {% if events and event %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                        {{ event.name }}
                                    </a>
                                    <div class="dropdown-menu">
                                        {% for e in events reversed %}
                                        <a class="dropdown-item{% if e.pk == event.pk %} active{% endif %}"
                                            href="{% event_url e 'tracker:event:index' %}">
                                            {{ e.name }}
                                        </a>
                                        {% endfor %}
                                    </div>
                                </li>
                                {% endif %}
                            </ul>
                            <ul class="navbar-nav ml-auto">
                                {% if request.user.is_staff %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'admin:index' %}">
                                        {% trans "Site Administration" %}
                                    </a>
                                </li>
                                {% endif %}
                                {% if languages|length > 1 %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                        {{ LANGUAGE_CODE|language_name }}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        {% for language in languages %}
                                        <a class="dropdown-item{% if language.code == LANGUAGE_CODE %} active{% endif %}" href="#"
                                            onclick="setLanguage('{{ language.code }}')">
                                            {{ language.name }}
                                        </a>
                                        {% endfor %}
                                    </div>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
                {% if event %}
                <nav class="navbar navbar-expand-sm navbar-dark pt-0">
                    <div class="container px-0">
                        <button class="navbar-toggler w-100" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% event_url event 'tracker:event:index' %}">{% trans "Home" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% event_url event 'tracker:event:runindex' %}">{% trans "Runs" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                        href="{% event_url event 'tracker:event:prizeindex' %}">{% trans "Prizes" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% event_url event 'tracker:event:bidindex' %}">{% trans "Incentives" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                        href="{% event_url event 'tracker:event:donorindex' %}">{% trans "Donors" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                        href="{% event_url event 'tracker:event:donationindex' %}">{% trans "Donations" %}</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ml-auto">
                                {% if not event.locked and event.allow_donations %}
                                <li class="nav-item ml-lg-4">
                                    <a class="btn btn-outline-warning btn-block font-weight-bold px-4 text-uppercase"
                                        href="{% event_url event 'tracker:event:donate' %}">
                                        {% trans "Donate" %}
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
                {% endif %}
                {% endblock %}

                {% block jumbotron %}{% endblock %}
            </div>

            <div class="container flex-fill pb-4">
                {% block content %}{% endblock %}
            </div>
        </div>

        <form id="languageForm" action="{% url 'tracker:set_language' %}" method="post">
            {% csrf_token %}

            <input type="hidden" name="next" value="{{ request.get_full_path }}" />
            <input type="hidden" name="language" value="{{ LANGUAGE_CODE }}" />
        </form>

        <script>
            function setLanguage(code) {
                const form = $("#languageForm");
                const languageInput = $("input[name='language']", languageForm);

                languageInput.val(code);
                form.submit();
            }
        </script>
    </body>
</html>
