{% extends "base.html" %}

{% load donation_tags %}
{% load i18n %}

{% block title %}
{% trans "Error" %}
{% endblock %}

{% block body_class %}bg-dark text-white{% endblock %}

{% block content %}
  <div class="justify-content-center d-flex flex-column h-100">
    <div class="text-center">
      <h3 class="mb-3">
        {% block message %}
        {% trans "Something strange happened" %}
        {% endblock %}
      </h3>
      <a class="btn btn-link text-white-50" href="{% url 'tracker:index' %}">
        {% trans "Go to homepage" %}
      </a>
    </div>
  </div>
{% endblock %}
