<template>
  <form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" :value="csrfToken" />

    <div class="row mb-4">
      <div class="col-sm-3">
        <h5>{{ $t("sections.donation") }}</h5>
      </div>
      <div class="col-sm-9">
        <div class="form-group">
          <FormGroup :errors="errors.amount">
            <template v-slot="{ styles }">
              <label class="font-weight-bold">{{ $t("fields.amount.label") }}</label>
              <CurrencyInput name="amount" :class="styles" :currency="event.paypal_currency" v-model="totalAmount" :min="event.minimum_donation" :placeholder="$t('placeholders.amount')" />
              <RadioButtonGroup small v-model="totalAmount" class="mt-2" :options="amountPresets.map((value) => [value, currencyFormat.format(value)])" />
              <i18n-t tag="div" keypath="fields.amount.help" class="form-text small text-muted">
                <strong v-currency="event.minimum_donation" />
              </i18n-t>
            </template>
          </FormGroup>

          <FormGroup :errors="errors.requestedalias">
            <template v-slot="{ styles }">
              <label>{{ $t("fields.alias.label") }}</label>
              <input name="requestedalias" :class="['form-control', styles]" type="text" :value="alias">
              <div class="form-text small text-muted">
                {{ $t("fields.alias.help") }}
              </div>
            </template>
          </FormGroup>

          <FormGroup :errors="errors.requestedemail">
            <template v-slot="{ styles }">
              <label>{{ $t("fields.email.label") }}</label>
              <input name="requestedemail" :class="['form-control', styles]" type="text" :value="email">
              <i18n-t tag="div" keypath="fields.email.help" class="form-text small text-muted" v-if="privacyPolicyUrl">
                <a :href="privacyPolicyUrl" target="_blank" rel="noopener noreferrer">{{ $t("here") }}</a>
              </i18n-t>
            </template>
          </FormGroup>

          <FormGroup :errors="errors.requested_receipt">
            <label>{{ $t("fields.receipt.label") }}</label>
            <RadioButtonGroup v-model="requestedReceipt" :options="[[true, $t('yes')], [false, $t('no')]]" />
            <div class="form-text" v-if="requestedReceipt">
              <div class="alert alert-warning m-0 small">
                {{ $t("fields.receipt.help") }}
              </div>
            </div>
          </FormGroup>

          <FormGroup :errors="errors.comment">
            <template v-slot="{ styles }">
              <label>{{ $t("fields.comment.label") }}</label>
              <textarea name="comment" :class="['form-control', styles]" rows="4" />
              <div class="form-text small text-muted">
                {{ $t("fields.comment.help") }}
              </div>
            </template>
          </FormGroup>
        </div>
      </div>
    </div>

    <!--
    <div v-if="availablePrizes.length > 0" class="row mb-4">
      <div class="col-sm-3">
        <h5>{{ $t("sections.prizes") }}</h5>
      </div>
      <div class="col-sm-9">
        <i18n-t keypath="paragraphs.prizes" tag="p">
          <strong v-currency="totalAmount" />
        </i18n-t>
        <div class="card shadow">
          <table class="m-0 table table-borderless">
            <thead class="thead-light">
              <tr>
                <th>{{ $t("name") }}</th>
                <th width="125" class="text-right">{{ $t("amount") }}</th>
              </tr>
            </thead>
            <tr v-for="prize in eligiblePrizes" :key="prize.id">
              <td>
                <i class="fa mr-2" :class="prize.eligible ? 'text-success fa-check-square' : 'text-danger fa-square'" aria-hidden="true" />
                <a :href="prize.url" target="_blank" rel="noopener noreferrer">
                  <strong>{{ prize.name }}</strong>
                </a>
              </td>
              <td class="text-right" v-currency="prize.minimumbid" />
            </tr>
          </table>
        </div>
      </div>
    </div>
    -->

    <div v-if="availableBids.length > 0" class="row mb-4">
      <div class="col-sm-3">
        <h5>{{ $t("sections.incentives") }}</h5>
      </div>
      <div class="col-sm-9">
        <p class="mb-4">
          {{ $t("paragraphs.incentives") }}
        </p>

        <div class="progress mb-1">
          <div :class="['progress-bar', { 'bg-danger': remainingAmount < 0 }]" :style="{ width: `${allocatedAmount / totalAmount * 100}%` }" />
        </div>

        <div class="clearfix mb-4 small">
          <div class="float-left">
            {{ $t("allocated") }}:
            <strong v-currency="allocatedAmount" /> / <span v-currency="totalAmount" />
          </div>
          <div class="float-right">
            {{ $t("remaining") }}:
            <strong v-currency="remainingAmount" />
          </div>
        </div>

        <div v-for="(choice, index) in selectedBids" class="mb-2" :key="choice.id">
          <input type="hidden" :name="`bidsform-${index}-bid`" :value="choice.bid">
          <input type="hidden" :name="`bidsform-${index}-amount`" :value="choice.amount">
          <input v-if="choice.customoptionname" type="hidden" :name="`bidsform-${index}-customoptionname`" :value="choice.customoptionname">

          <BidCard v-bind="{ availableBids, choice, errors: errors.bids[index] }" @remove="removeChoice(index)" />
        </div>

        <button type="button" class="btn btn-block btn-primary" :disabled="availableBids.length === 0 || remainingAmount <= 0" @click="$refs.bidModal.open()">
          {{ $t("addBid") }}
        </button>
      </div>
    </div>

    <div v-if="event.donation_notes" class="row mb-4">
      <div class="col-sm-3">
        <h5>{{ $t("sections.notes") }}</h5>
      </div>
      <div class="col-sm-9">
        <div class="card shadow">
          <div class="card-body" v-html="event.donation_notes" />
        </div>
      </div>
    </div>

    <hr class="my-4" />

    <button class="btn btn-warning btn-lg btn-block" type="submit" :disabled="!totalAmount || totalAmount <= 0 || remainingAmount < 0">
      <strong class="text-uppercase">{{ $t("donate") }}</strong>
      <small v-if="totalAmount" class="ml-2" v-currency="totalAmount" />
    </button>

    <input type="hidden" name="requested_receipt" :value="requestedReceipt ? '1' : ''" />

    <input type="hidden" name="bidsform-TOTAL_FORMS" :value="selectedBids.length" />
    <input type="hidden" name="bidsform-INITIAL_FORMS" value="0" />
    <input type="hidden" name="bidsform-MIN_NUM_FORMS" value="0" />
    <input type="hidden" name="bidsform-MAX_NUM_FORMS" value="10" />

    <BidModal ref="bidModal" v-bind="{ availableBids, event, remainingAmount }" v-on="{ addBid: addChoice }" />
  </form>
</template>

<script>
import { defineComponent } from 'vue';

import BidCard from "./components/BidCard.vue";
import BidModal from "./components/BidModal.vue";
import CurrencyInput from "./components/CurrencyInput.vue";
import FormGroup from "./components/FormGroup.vue";
import RadioButtonGroup from "./components/RadioButtonGroup.vue";

const collator = new Intl.Collator(undefined, {
  sensitivity: "base",
});

export default defineComponent({
  props: ["availableBids", "availablePrizes", "csrfToken", "event", "initialData", "initialErrors", "privacyPolicyUrl"],
  components: { BidCard, BidModal, CurrencyInput, FormGroup, RadioButtonGroup },
  data() {
    return {
      alias: this.initialData?.requestedalias,
      email: this.initialData?.requestedemail,
      requestedReceipt: this.initialData?.requested_receipt || true,
      totalAmount: this.initialData?.amount,
      amountPresets: [5, 10, 25, 50, 100],
      selectedBids: this.initialData?.bids || [],
      errors: this.initialErrors || {},
    };
  },
  computed: {
    eligiblePrizes() {
      return this.availablePrizes.map((prize) => ({ ...prize, eligible: this.totalAmount >= prize.minimumbid }));
    },
    allocatedAmount() {
      return this.selectedBids.reduce((total, bid) => total + bid.amount, 0);
    },
    remainingAmount() {
      return (this.totalAmount || 0) - this.allocatedAmount;
    },
  },
  methods: {
    addChoice(choice) {
      const existingBid = this.selectedBids.find((selectedBid) => (
        selectedBid.bid === choice.bid &&
        collator.compare(selectedBid.customoptionname, choice.customoptionname) === 0
      ));

      if (existingBid) {
        existingBid.amount += choice.amount;
      } else {
        this.selectedBids.push(choice);
      }
    },
    removeChoice(index) {
      this.selectedBids.splice(index, 1);
      this.errors.bids.splice(index, 1);
    },
  },
});
</script>
