{% extends "base.html" %}

{% load donation_tags %}
{% load i18n %}

{% block title %}
{{ bid.name }} - {{ event.name }} - {% trans "Donation Tracker" %}
{% endblock %}

{% block jumbotron %}
<div class="bg-transparent jumbotron jumbotron-fluid m-0 text-white">
    <div class="container">
        <div class="text-white-50">
            <a class="text-reset" href="{% event_url event 'tracker:event:index' %}">
                {{ event.name }}
            </a>
            <i class="fa fa-angle-right mx-2"></i>
            <a class="text-reset" href="{% event_url event 'tracker:event:bidindex' %}">
                {% trans "Incentives" %}
            </a>
            {% for ancestor in bid.ancestors %}
            <i class="fa fa-angle-right mx-2"></i>
            <a class="text-reset" href="{% event_url event 'tracker:event:bid' pk=ancestor.pk %}">
                {{ ancestor.name }}
            </a>
            {% endfor %}
        </div>
        <h1 class="m-0">{{ bid.name }}</h1>
        <ul class="h5 list-inline mb-4 text-white-50">
            <li class="list-inline-item">
                {% if bid.speedrun %}
                <a class="text-reset" href="{% event_url event 'tracker:event:run' pk=bid.speedrun.pk %}">
                    <span class="h5">{{ bid.speedrun.name }}</span>
                    <span class="font-weight-normal">({{ bid.speedrun.category }})</span>
                </a>
                {% else %}
                {% trans "Event Wide" %}
                {% endif %}
            </li>
        </ul>
        <ul class="lead list-inline m-0">
            <li class="list-inline-item mr-4">
                <div class="small text-white-50">{% trans "Amount" %}</div>
                <div class="h5 m-0">{% event_money event bid.total %}</span>
            </li>
            {% if bid.goal %}
            <li class="list-inline-item mr-4">
                <div class="small text-white-50">{% trans "Goal" %}</div>
                <div class="h5 m-0">{% event_money event bid.goal %}</div>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
{% if bid.description %}
<div class="row mb-4">
    <div class="col-3">
        <h5>{% trans "Description" %}</h5>
    </div>
    <div class="col">
        {{ bid.description|forumfilter }}
    </div>
</div>
{% endif %}

{% if bid.istarget %}
<div class="row mb-4">
    <div class="col-3">
        <h5>{% trans "Donations" %}</h5>
    </div>
    <div class="col">
        {% if donations %}
        <div class="card shadow">
            <table class="m-0 table table-borderless">
                <thead class="thead-light">
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th width="250">{% trans "Date" %}</th>
                        <th width="125" class="px-4 text-right">{% trans "Amount" %}</th>
                    </tr>
                </thead>
                {% for donation in donations %}
                <tr>
                    <td>
                        {% include "tracker/partials/donor_link.html" with donor=donation.donor_cache only %}
                    </td>
                    <td class="datetime">
                        <time datetime="{{ donation.timereceived|date:"c" }}">
                            {{ donation.timereceived|date:"DATETIME_FORMAT" }}
                        </time>
                    </td>
                    <td class="text-right">
                        <a href="{% event_url event 'tracker:event:donation' pk=donation.id %}">{% event_money event donation.amount %}</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="text-muted">
            {% trans "No donations for this option yet." %}
        </div>
        {% endif %}
    </div>
</div>
{% elif not bid.goal %}
<div class="row mb-4">
    <div class="col-3">
        <h5>{% trans "Options" %}</h5>
    </div>
    <div class="col">
        {% if bid.children %}
        <div class="card shadow">
            <table class="m-0 table table-borderless">
                <thead class="thead-light">
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th width="125" class="text-right">{% trans "Amount" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for option in bid.children %}
                    <tr>
                        <td>
                            <a href="{% event_url event 'tracker:event:bid' pk=option.id %}">
                                {{ option.name }}
                            </a>
                        </td>
                        <td class="text-right">
                            {% event_money event option.amount %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="mt-4">
            {% include "tracker/partials/paginator.html" %}
        </div>
        {% else %}
        <div class="bg-primary card text-center text-white">
            <div class="card-body">
                {% trans "No options yet, submit one while donating." %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}
