{% extends "base.html" %}
{% load donation_tags %}
{% load i18n %}

{% block title %}
{% trans "Incentives" %} - {{ event.name }} - {% trans "Donation Tracker" %}
{% endblock %}

{% block jumbotron %}
<div class="bg-transparent jumbotron jumbotron-fluid m-0 text-white">
    <div class="container">
        <div class="text-white-50">
            <a class="text-reset" href="{% url 'tracker:event:index' event=event.short %}">{{ event.name }}</a>
        </div>
        <h1 class="mb-4">{% trans "Incentives" %}</h1>
        <ul class="lead list-inline m-0">
            <li class="list-inline-item mr-4">
                <div class="small text-white-50">{% trans "Total" %}</div>
                <div class="h5 m-0">{% event_money event total %}</div>
            </li>
            <li class="list-inline-item mr-4">
                <div class="small text-white-50">{% trans "Choice Total" %}</div>
                <div class="h5 m-0">{% event_money event choiceTotal %}</span>
            </li>
            <li class="list-inline-item mr-4">
                <div class="small text-white-50">{% trans "Challenge Total" %}</div>
                <div class="h5 m-0">{% event_money event challengeTotal %}</div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
{% for bid in bids %}
{% include 'tracker/partials/option.html' with event=event bid=bid only %}
{% endfor %}
{% endblock %}
