{% extends "base.html" %}

{% load donation_tags %}
{% load i18n %}
{% load tz %}

{% block title %}
{% trans "Donations" %} - {{ event.name }} - {% trans "Donation Tracker" %}
{% endblock %}

{% block jumbotron %}
<div class="bg-transparent jumbotron jumbotron-fluid m-0 text-white">
    <div class="container">
        <div class="text-white-50">
            <a class="text-reset" href="{% event_url event 'tracker:event:index' %}">{{ event.name }}</a>
        </div>
        <h1 class="mb-4">{% trans "Donations" %}</h1>
        <ul class="lead list-inline m-0">
            <li class="list-inline-item mr-4">
                <div class="small text-white-50">{% trans "Count" %}</div>
                <div class="h5 m-0">{{ agg.count }}</div>
            </li>
            <li class="list-inline-item mr-4">
                <div class="small text-white-50">{% trans "Total" %}</div>
                <div class="h5 m-0">{% event_money event agg.amount %}</span>
            </li>
            <li class="list-inline-item mr-4">
                <div class="small text-white-50">{% trans "Maximum Amount" %}</div>
                <div class="h5 m-0">{% event_money event agg.max %}</div>
            </li>
            <li class="list-inline-item mr-4">
                <div class="small text-white-50">{% trans "Average Amount" %}</div>
                <div class="h5 m-0">{% event_money event agg.avg %}</div>
            </li>
            <li class="list-inline-item mr-4">
                <div class="small text-white-50">{% trans "Median Amount" %}</div>
                <div class="h5 m-0">{% event_money event agg.median %}</div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="card shadow">
    <table class="m-0 table table-borderless">
        <thead class="thead-light">
            <tr>
                <th>{% trans "Name" %}</th>
                <th width="250">{% trans "Date" %}</th>
                <th width="125" class="px-4 text-right">{% trans "Amount" %}</th>
            </tr>
        </thead>
        {% for donation in donations %}
        <tr>
            <td>
                {% include "tracker/partials/donor_link.html" with donor=donation.donor_cache only %}
            </td>
            <td class="datetime">
                <time datetime="{{ donation.timereceived|date:"c" }}">
                    {{ donation.timereceived|date:"DATETIME_FORMAT" }}
                </time>
            </td>
            <td class="text-right">
                <a href="{% event_url event 'tracker:event:donation' pk=donation.id %}">{% event_money event donation.amount %}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="mt-4">
    {% include "tracker/partials/paginator.html" %}
</div>
{% endblock %}
