{% extends "base.html" %}

{% load donation_tags %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Donate" %} - {{ event.name }} - {% trans "Donation Tracker" %}
{% endblock %}

{% block head %}
{% if bundle %}
{{ bundle.css|safe }}
{% endif %}
{% endblock %}

{% block jumbotron %}
<div class="bg-transparent jumbotron jumbotron-fluid m-0 text-white">
  <div class="container">
    <div class="text-white-50">
      <a class="text-reset" href="{% event_url event 'tracker:event:index' %}">{{ event.name }}</a>
    </div>
    <h1>{% trans "Donate" %}</h1>
    <div class="lead">
      {% blocktrans with receivername=event.receivername trimmed %}
      100% of your donation goes directly to <strong>{{ receivername }}</strong>!
      {% endblocktrans %}
    </div>
  </div>
</div>
{% endblock %}


{% block content %}
{% if event.allow_donations %}
{% if bundle %}
<div id="app"></div>

<script type="application/json" id="__APP_DATA__">
  {
    "props": {{ props|safe }}
  }
</script>

{{ bundle.js|safe }}
{% endif %}
{% else %}
<div class="alert alert-warning text-center">
  {% trans "This event doesn't allow donations at the moment, please try again later." %}
</div>
{% endif %}
{% endblock %}
