{% extends "base.html" %}

{% load donation_tags %}
{% load i18n %}

{% block title %}
{% event_money event donation.amount %} ({{ donation.donor_cache.visible_name }}) - {% trans "Donations" %} -
{{ event.name }} - {% trans "Donation Tracker" %}
{% endblock %}

{% block jumbotron %}
<div class="bg-transparent jumbotron jumbotron-fluid m-0 text-white">
    <div class="container">
        <div class="text-white-50">
            <a class="text-reset" href="{% event_url event 'tracker:event:index' %}">{{ event.name }}</a>
            <i class="fa fa-angle-right mx-2"></i>
            <a class="text-reset" href="{% event_url event 'tracker:event:donationindex' %}">{% trans "Donations" %}</a>
        </div>
        <h1 class="m-0">{% event_money event donation.amount %}</h1>
        <ul class="h5 list-inline text-white-50">
            <li class="list-inline-item">
                {% include "tracker/partials/donor_link.html" with donor=donation.donor_cache class="text-reset" only %}
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row mb-4">
    <div class="col-3">
        <h5>{% trans "Date" %}</h5>
    </div>
    <div class="col">
        <time datetime="{{ donation.timereceived|date:"c" }}">
            {{ donation.timereceived|date:"DATETIME_FORMAT" }}
        </time>
    </div>
</div>

<div class="row mb-4">
    <div class="col-3">
        <h5>{% trans "Comment" %}</h5>
    </div>
    <div class="col">
        {% if donation.comment %}
        {% if donation.commentstate == 'APPROVED' %}
        {{ donation.comment|forumfilter }}
        {% elif donation.commentstate == 'PENDING' %}
        <i class="text-muted">{% trans "Comment pending approval" %}</i>
        {% elif donation.commentstate == 'DENIED' %}
        <i class="text-muted">{% trans "Comment rejected" %}</i>
        {% endif %}
        {% else %}
        <i class="text-muted">{% trans "No Comment" %}</i>
        {% endif %}
    </div>
</div>

{% if donationbids %}
<div class="row mb-4">
    <div class="col-3">
        <h5>{% trans "Donation Bids" %}</h5>
    </div>
    <div class="col">
        <div class="card">
            <table class="m-0 table table-borderless">
                <thead class="thead-light">
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th width="125" class="px-4 text-right">{% trans "Amount" %}</th>
                    </tr>
                </thead>
                {% for donation_bid in donationbids %}
                <tr>
                    <td>
                        <div>
                            <a href="{% event_url event 'tracker:event:bid' pk=donation_bid.bid_id %}">
                                {{ donation_bid.fullname }}
                            </a>
                        </div>
                        {% if donation_bid.speedrun_id %}
                        <div class="small text-muted">
                            <a href="{% event_url event 'tracker:event:run' pk=donation_bid.speedrun_id %}">
                                {{ donation_bid.speedrun.name_with_category }}
                            </a>
                        </div>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {% event_money event donation_bid.amount %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
