{% extends "base.html" %}

{% load donation_tags %}
{% load i18n %}

{% block title %}
{{ cache.visible_name }} - {% trans "Donors" %} - {{ event.name }} - {% trans "Donation Tracker" %}
{% endblock %}

{% block jumbotron %}
<div class="bg-transparent jumbotron jumbotron-fluid m-0 text-white">
	<div class="container">
		<div class="text-white-50">
			<a class="text-reset" href="{% event_url event 'tracker:event:index' %}">{{ event.name }}</a>
			<i class="fa fa-angle-right mx-2"></i>
			<a class="text-reset" href="{% event_url event 'tracker:event:donorindex' %}">{% trans "Donors" %}</a>
		</div>
		<h1 class="mb-4">{{ cache.visible_name }}</h1>
		<ul class="lead list-inline m-0">
			<li class="list-inline-item mr-4">
				<div class="small text-white-50">{% trans "Count" %}</div>
				<div class="h5 m-0">{{ cache.donation_count }}</div>
			</li>
			<li class="list-inline-item mr-4">
				<div class="small text-white-50">{% trans "Total" %}</div>
				<div class="h5 m-0">{% event_money event cache.donation_total %}</span>
			</li>
			<li class="list-inline-item mr-4">
				<div class="small text-white-50">{% trans "Average Amount" %}</div>
				<div class="h5 m-0">{% event_money event cache.donation_avg %}</div>
			</li>
			<li class="list-inline-item mr-4">
				<div class="small text-white-50">{% trans "Maximum Amount" %}</div>
				<div class="h5 m-0">{% event_money event cache.donation_max %}</div>
			</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="row mb-4">
	<div class="col-3">
		<h5>{% trans "Donations" %}</h5>
	</div>
	<div class="col">
		<div class="card shadow">
			<table class="table table-borderless m-0">
				<thead class="thead-light">
					<tr>
						<th>{% trans "Date" %}</th>
						<th width="125" class="text-right">{% trans "Amount" %}</th>
					</tr>
				</thead>
				{% for donation in donations %}
				<tr>
					<td>
						<time datetime="{{ donation.timereceived|date:"c" }}">
							{{ donation.timereceived|date:"DATETIME_FORMAT" }}
						</time>
					</td>
					<td class="text-right">
						<a href="{% event_url event 'tracker:event:donation' pk=donation.id %}">
							{% event_money event donation.amount %}
						</a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	{% endblock %}
