{% extends "base.html" %}

{% load donation_tags %}
{% load i18n %}

{% block title %}
{% trans "Donors" %} - {{ event.name }} - {% trans "Donation Tracker" %}
{% endblock %}

{% block jumbotron %}
<div class="bg-transparent jumbotron jumbotron-fluid m-0 text-white">
    <div class="container">
        <div class="text-white-50">
            <a class="text-reset" href="{% event_url event 'tracker:event:index' %}">{{ event.name }}</a>
        </div>
        <h1>{% trans "Donors" %}</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="card shadow">
    <table class="m-0 table table-borderless">
        <thead class="thead-light">
            <tr>
                <th>{% trans "Name" %}</th>
                <th width="100" class="text-right">{% trans "Count" %}</th>
                <th width="125" class="text-right">{% trans "Total" %}</th>
                <th width="200" class="text-right">{% trans "Maximum Amount" %}</th>
                <th width="200" class="text-right">{% trans "Average Amount" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for donor in donors %}
            {% if donor.donation_count > 0 %}
            <tr>
                <td>
                    {% include "tracker/partials/donor_link.html" with donor=donor only %}
                </td>
                <td class="text-right">
                    {{ donor.donation_count }}
                </td>
                <td class="text-right">
                    {% event_money event donor.donation_total %}
                </td>
                <td class="text-right">
                    {% event_money event donor.donation_max %}
                </td>
                <td class="text-right">
                    {% event_money event donor.donation_avg %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="mt-4">
    {% include "tracker/partials/paginator.html" %}
</div>
{% endblock %}
