{% extends "base.html" %}

{% load donation_tags %}
{% load i18n %}
{% load static %}

{% block title %}
{{ event.name }} - {% trans "Donation Tracker" %}
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}">
{% endblock %}

{% block jumbotron %}
<div class="bg-transparent jumbotron jumbotron-fluid m-0 text-white">
    <div class="container">
        <h1 class="m-0">{{ event.name }}</h1>
        <ul class="h5 list-inline mb-4 text-white-50">
            <li class="list-inline-item">
                <time datetime="{{ event.datetime|date:"c" }}">
                    {{ event.datetime|date:"DATETIME_FORMAT" }}
                </time>
            </li>
        </ul>
        <ul class="lead list-inline m-0">
            <li class="list-inline-item mr-4">
                <div class="small text-white-50">{% trans "Total" %}</div>
                <div class="h5 m-0">{% event_money event agg.amount %}</span>
            </li>
            <li class="list-inline-item mr-4">
                <div class="small text-white-50">{% trans "Maximum Amount" %}</div>
                <div class="h5 m-0">{% event_money event agg.max %}</div>
            </li>
            <li class="list-inline-item mr-4">
                <div class="small text-white-50">{% trans "Average Amount" %}</div>
                <div class="h5 m-0">{% event_money event agg.avg %}</div>
            </li>
            <li class="list-inline-item mr-4">
                <div class="small text-white-50">{% trans "Median Amount" %}</div>
                <div class="h5 m-0">{% event_money event agg.median %}</div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div class="col mb-4">
        <div class="card shadow">
            <div class="no-gutters row">
                <div class="align-items-center col d-flex p-4 position-static">
                    <a class="h5 m-0 stretched-link" href="{% event_url event 'tracker:event:runindex' %}">
                        {% trans "Runs" %}
                    </a>
                </div>
                <div class="align-items-center col col-auto d-flex h5 m-0 p-4 text-muted">
                    {{ count.runs }}
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card shadow">
            <div class="no-gutters row">
                <div class="align-items-center col d-flex p-4 position-static">
                    <a class="h5 m-0 stretched-link" href="{% event_url event 'tracker:event:prizeindex' %}">
                        {% trans "Prizes" %}
                    </a>
                </div>
                <div class="align-items-center col col-auto d-flex h5 m-0 p-4 text-muted">
                    {{ count.prizes }}
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card shadow">
            <div class="no-gutters row">
                <div class="align-items-center col d-flex p-4 position-static">
                    <a class="h5 m-0 stretched-link" href="{% event_url event 'tracker:event:bidindex' %}">
                        {% trans "Incentives" %}
                    </a>
                </div>
                <div class="align-items-center col col-auto d-flex h5 m-0 p-4 text-muted">
                    {{ count.bids }}
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card shadow">
            <div class="no-gutters row">
                <div class="align-items-center col d-flex p-4 position-static">
                    <a class="h5 m-0 stretched-link" href="{% event_url event 'tracker:event:donorindex' %}">
                        {% trans "Donors" %}
                    </a>
                </div>
                <div class="align-items-center col col-auto d-flex h5 m-0 p-4 text-muted">
                    {{ count.donors }}
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card shadow">
            <div class="no-gutters row">
                <div class="align-items-center col d-flex p-4 position-static">
                    <a class="h5 m-0 stretched-link" href="{% event_url event 'tracker:event:donationindex' %}">
                        {% trans "Donations" %}
                    </a>
                </div>
                <div class="align-items-center col col-auto d-flex h5 m-0 p-4 text-muted">
                    {{ agg.count }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
