{% extends "base.html" %}

{% load donation_tags %}
{% load i18n %}

{% block title %}
{% trans "Donation Tracker" %}
{% endblock %}

{% block jumbotron %}
<div class="bg-transparent jumbotron jumbotron-fluid m-0 text-white">
  <div class="container">
    <h1>{% trans "All Events" %}</h1>
    <div class="lead">
      {% trans "Select an event below to access it" %}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
{% for event in events %}
<div class="card mb-4 shadow">
  <div class="no-gutters row">
    <div class="col position-static">
      <div class="card-body">
        <a class="h5 m-0 stretched-link" href="{% url pattern event=event.short %}">
          {{ event.name }}
        </a>
        <ul class="list-inline m-0">
          <li class="list-inline-item">
            <time datetime="{{ event.datetime|date:"c" }}">
              {{ event.datetime|date:"DATETIME_FORMAT" }}
            </time>
          </li>
        </ul>
      </div>
    </div>
    <div class="align-items-center col col-auto d-flex">
      <div class="card-body">
        <ul class="list-inline m-0">
          <li class="list-inline-item px-2">
            <div class="small text-muted">{% trans "Total" %}</div>
            <div class="h6 m-0">{% event_money event event.amount %}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
