{% extends "base.html" %}

{% load donation_tags %}
{% load i18n %}

{% block title %}
{% trans "Donation Completed" %} - {{ event.name }} - {% trans "Donation Tracker" %}
{% endblock %}

{% block body_class %}bg-dark text-white{% endblock %}

{% block content %}
<div class="justify-content-center d-flex flex-column h-100">
    <div class="text-center">
        <h3 class="mb-3">
            {% trans "Thank you for your contribution" %}
        </h3>
        <a class="btn btn-link text-white-50" href="{% event_url event 'tracker:event:donate' %}">
            {% trans "Go to the donation page" %}
        </a>
    </div>
</div>
{% endblock %}
