{% extends "base.html" %}

{% load donation_tags %}
{% load i18n %}

{% block title %}
{% trans "Donation In Progress" %} - {{ event.name }} - {% trans "Donation Tracker" %}
{% endblock %}

{% block body_class %}bg-dark text-white{% endblock %}

{% block head %}
<script>
  window.addEventListener("DOMContentLoaded", function () {
    document.paypalRedirect.submit();
  });
</script>
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
<div class="justify-content-center d-flex flex-column h-100">
  <div class="text-center">
    <h3 class="mb-3">
      {% trans "Redirecting to Paypal..." %}
    </h3>
    <form name="paypalRedirect" method="post" action="{{ form.get_endpoint }}">
      {{ form.as_p }}
      <button class="btn btn-link text-white-50" type="submit">
        {% trans "Please click here if you are not redirected within a few seconds" %}
      </button>
    </form>
  </div>
</div>
{% endblock %}
