{% extends "base.html" %}

{% load donation_tags %}
{% load i18n %}

{% block title %}
{{ prize.name }} - {% trans "Prizes" %} - {{ event.name }} - {% trans "Donation Tracker" %}
{% endblock %}

{% block head %}
<style>
    .prize-image {
        object-fit: contain;
        object-position: center;
    }
</style>
{% endblock %}

{% block jumbotron %}
<div class="bg-transparent jumbotron jumbotron-fluid m-0 text-white">
    <div class="container">
        <div class="text-white-50">
            <a class="text-reset" href="{% event_url event 'tracker:event:index' %}">{{ event.name }}</a>
            <i class="fa fa-angle-right mx-2"></i>
            <a class="text-reset" href="{% event_url event 'tracker:event:prizeindex' %}">{% trans "Prizes" %}</a>
        </div>
        <h1 class="m-0">{{ prize.name }}</h1>
        <ul class="h5 list-inline mb-4 text-white-50">
            {% if prize.startrun or prize.starttime %}
            <li class="list-inline-item">
                {% if prize.startrun %}
                <a href="{% event_url event 'tracker:event:run' pk=prize.startrun.pk %}">
                    {{ prize.startrun.name_with_category }}
                </a>
                {% endif %}

                {% if prize.startrun != prize.endrun %}
                <i class="fa fa-angle-right mx-2"></i>
                <a href="{% event_url event 'tracker:event:run' pk=prize.endrun.pk %}">
                    {{ prize.endrun.name_with_category }}
                </a>
                {% endif %}

                {% if prize.starttime %}
                <time datetime="{{ prize.starttime|date:"c" }}">
                    {{ prize.starttime|date:"DATETIME_FORMAT" }}
                </time>
                <i class="fa fa-angle-right mx-2"></i>
                <time datetime="{{ prize.endtime|date:"c" }}">
                    {{ prize.endtime|date:"DATETIME_FORMAT" }}
                </time>
                {% endif %}
            </li>
            {% endif %}
        </ul>
        <ul class="lead list-inline m-0">
            <li class="list-inline-item mr-4">
                <div class="small text-white-50">{% trans "Provider" %}</div>
                <div class="h5 m-0">{% firstof prize.provider _("Anonymous") %}</div>
            </li>
            {% if prize.minimumbid %}
                <li class="list-inline-item mr-4">
                    <div class="small text-white-50">{% trans "Minimum Bid" %}</div>
                    <div class="h5 m-0">{% event_money event prize.minimumbid %}</span>
                </li>
            {% endif %}
            {% if prize.keyword %}
                <li class="list-inline-item mr-4">
                    <div class="small text-white-50">{% trans "Keyword" %}</div>
                    <div class="h5 m-0">{{ prize.keyword }}</span>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
{% if prize.image or prize.imagefile %}
<div class="mb-4">
    {% if prize.image %}
    <a class="border embed-responsive embed-responsive-16by9 rounded shadow" href="{{ prize.image }}" target="_blank" rel="noopener noreferrer">
        <img class="bg-secondary embed-responsive-item prize-image" src="{{ prize.image }}" />
    </a>
    {% elif prize.imagefile %}
        <a class="border embed-responsive embed-responsive-16by9 rounded shadow" href="{{ prize.imagefile.url }}" target="_blank" rel="noopener noreferrer">
            <img class="bg-secondary embed-responsive-item prize-image" src="{{ prize.imagefile.url }}" />
        </a>
    {% endif %}
</div>
{% endif %}

{% if prize.description %}
<div class="row mb-4">
    <div class="col-3">
        <h5>{% trans "Description" %}</h5>
    </div>
    <div class="col">
        {{ prize.description|forumfilter }}
    </div>
</div>
{% endif %}
{% endblock %}
