{% extends "base.html" %}

{% load donation_tags %}
{% load i18n %}

{% block title %}
{% trans "Prizes" %} - {{ event.name }} - {% trans "Donation Tracker" %}
{% endblock %}

{% block head %}
<style>
    .prize-image {
        height: 16rem;
        object-fit: contain;
        object-position: center;
    }
</style>
{% endblock %}

{% block jumbotron %}
<div class="bg-transparent jumbotron jumbotron-fluid m-0 text-white">
    <div class="container">
        <div class="text-white-50">
            <a class="text-reset" href="{% event_url event 'tracker:event:index' %}">
                {{ event.name }}
            </a>
        </div>
        <h1>{% trans "Prizes" %}</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    {% for prize in prizes %}
    <div class="col mb-4">
        <div class="card h-100 shadow{% if not prize.is_available %} opacity-50{% endif %}">
            <div class="bg-secondary embed-responsive embed-responsive-16by9 card-img-top">
                {% if prize.image %}
                    <img class="embed-responsive-item prize-image" src="{{ prize.image }}" />
                {% elif prize.imagefile %}
                    <img class="embed-responsive-item prize-image" src="{{ prize.imagefile.url }}" />
                {% endif %}
            </div>
            <div class="card-body">
                <h5 class="m-0">
                    <a class="stretched-link" href="{% event_url event 'tracker:event:prize' pk=prize.pk %}">
                        {{ prize.name }}
                    </a>
                </h5>
                <p class="m-0 small text-muted">
                    {% trans "Provider:" %}
                    <span class="h6">{% firstof prize.provider _("Anonymous") %}</span>
                </p>
                {% if prize.minimumbid or prize.category %}
                    <ul class="list-inline m-0 mt-3">
                        {% if prize.minimumbid %}
                            <li class="list-inline-item">
                                <span class="h6">
                                    {% event_money event prize.minimumbid %}
                                </span>
                                {% if prize.sumdonations %}
                                {% trans "(Cumulative Donations)" %}
                                {% else %}
                                {% trans "(Minimum Donation)" %}
                                {% endif %}
                            </li>
                        {% endif %}
                        {% if prize.category %}
                        <li class="list-inline-item">
                            {% trans "Category:" %}
                            <span class="h6">{{ prize.category }}</span>
                        </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            {% if prize.keyword %}
            <div class="card-footer bg-primary font-weight-bold text-center text-white">
                {{ prize.keyword }}
            </div>
            {% endif %}
            {% if prize.startrun or prize.starttime %}
            <div class="card-footer">
                <ul class="list-inline m-0 small text-muted">
                    <li class="list-inline-item">
                        {% if prize.startrun %}
                        <a href="{% event_url event 'tracker:event:run' pk=prize.startrun.pk %}">
                            {{ prize.startrun.name_with_category }}
                        </a>
                        {% endif %}

                        {% if prize.startrun != prize.endrun %}
                        <i class="fa fa-angle-right mx-2"></i>
                        <a href="{% event_url event 'tracker:event:run' pk=prize.endrun.pk %}">
                            {{ prize.endrun.name_with_category }}
                        </a>
                        {% endif %}

                        {% if prize.starttime %}
                        <time datetime="{{ prize.starttime|date:"c" }}">
                            {{ prize.starttime|date:"DATETIME_FORMAT" }}
                        </time>
                        <i class="fa fa-angle-right mx-2"></i>
                        <time datetime="{{ prize.endtime|date:"c" }}">
                            {{ prize.endtime|date:"DATETIME_FORMAT" }}
                        </time>
                        {% endif %}
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
