{% extends "base.html" %}

{% load donation_tags %}
{% load i18n %}

{% block title %}
{% trans "Won Prize" %}
{% endblock %}

{% block content %}

<h3>{{ prize.name }}</h3>

{% if prize_win.pendingcount == 0 and prize_win.acceptcount == 0 and prize_win.declinecount > 0 %}

<p>
You have declined receiving this prize.
</p>

{% else %}

<p>Description: <i>{{ prize.description }}</i></p>

{% if prize_win.pendingcount > 0 %}
<p>
You have been selected as the winner of
{% if prize.maxwinners > 1 %}
  {% if prize_win.pendingcount > 1 %}{{ prize_win.pendingcount }} copies{% else %}a copy{% endif %} of
{% endif %} this prize.
{% if prize_win.pendingcount > 1 %}Please select the number you would like to accept, and we will re-roll the rest to other donors.{% else %}Please state whether you would like to accept or decline this prize.{% endif %} Your decision is final; we re-roll any unclaimed prizes immediately.
</p>

{% if prize.requiresshipping %}
<p>
Also, please enter/confirm your shipping address.
</p>
{% endif %}

<form method="post">
{% csrf_token %}

{% if address_form %}
  {% form_innards address_form showrequired=False %}
{% endif %}

{% form_innards acceptance_form showrequired=False %}

{% if prize_win.pendingcount > 1 %}
<input type="submit" name="accept" value="Accept">
<input type="submit" name="decline" value="Decline All">
{% else %}
<input type="submit" name="accept" value="Accept">
<input type="submit" name="decline" value="Decline">
{% endif %}
<br />
<br />
{% endif %}

</form>

{% if prize_win.acceptcount > 0 %}
<p>
You have {% if prize_win.pendingcount > 0 %}already {% endif %}accepted {{ prize_win.acceptcount }} cop{{ prize_win.acceptcount|pluralize:'y,ies' }} of this prize.
</p>
{% endif %}

{% if prize_win.shippingstate == 'SHIPPED' %}
  This prize has been shipped. <br />
  {% if prize_win.couriername %}
    <ul>
      <li> <b>Courier:</b> {{ prize_win.couriername }} </li>
      {% if prize_win.trackingnumber %}
        <li> <b>Tracking#:</b> {{ prize_win.trackingnumber }} (You can look up your package's status on the courier's website)</li>
      {% endif %}
    </ul>
  {% endif %}
  {% if prize_win.shippingnotes %}
  <p>
  <b>Shipping Notes:</b> {{ prize_win.shippingnotes }}
  </p>
  {% endif %}
{% else %}
  <p>
  This prize has not yet been shipped.
  </p>
{% endif %}

{% endif %}

{% endblock %}
