{% extends "base.html" %}
{% load donation_tags %}
{% load i18n %}

{% block title %}
{{ run.name_with_category }} - {% trans "Runs" %} - {{ event.name }} - {% trans "Donation Tracker" %}
{% endblock %}

{% block jumbotron %}
<div class="bg-transparent jumbotron jumbotron-fluid m-0 text-white">
  <div class="container">
    <div class="text-white-50">
      <a class="text-reset" href="{% event_url event 'tracker:event:index' %}">{{ event.name }}</a>
      <i class="fa fa-angle-right mx-2"></i>
      <a class="text-reset" href="{% event_url event 'tracker:event:runindex' %}">{% trans "Runs" %}</a>
    </div>
    <h1 class="m-0">{{ run.name }}</h1>
    <ul class="h5 list-inline mb-4 text-white-50">
      <li class="list-inline-item">
        <time datetime="{{ run.starttime|date:"c" }}">
          {{ run.starttime|date:"DATETIME_FORMAT" }}
        </time>
      </li>
    </ul>
    <ul class="lead list-inline m-0">
      {% if run.category %}
      <li class="list-inline-item mr-4">
        <div class="small text-white-50">{% trans "Category" %}</div>
        <div class="h5 m-0">{{ run.category }}</div>
      </li>
      {% endif %}
      {% if run.console %}
      <li class="list-inline-item mr-4">
        <div class="small text-white-50">{% trans "Platform" %}</div>
        <div class="h5 m-0">{{ run.console }}</span>
      </li>
      {% endif %}
      <li class="list-inline-item mr-4">
        <div class="small text-white-50">{% trans "Estimate" %}</div>
        <div class="h5 m-0">{{ run.run_time }}</div>
      </li>
      {% if run.deprecated_runners %}
      <li class="list-inline-item mr-4">
        <div class="small text-white-50">{% trans "Runners" %}</div>
        <div class="h5 m-0">{{ run.deprecated_runners }}</span>
      </li>
      {% endif %}
      {% if run.commentators %}
      <li class="list-inline-item mr-4">
        <div class="small text-white-50">{% trans "Commentators" %}</div>
        <div class="h5 m-0">{{ run.commentators }}</span>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
{% if run.description %}
<div class="row mb-4">
  <div class="col-3">
    <h5>{% trans "Description" %}</h5>
  </div>
  <div class="col">
    {{ run.description|forumfilter }}
  </div>
</div>
{% endif %}

{% if run.release_year %}
<div class="row mb-4">
  <div class="col-3">
    <h5>{% trans "Release Year" %}</h5>
  </div>
  <div class="col">
    {{ run.release_year }}
  </div>
</div>
{% endif %}

{% if bids %}
<div class="row mb-4">
  <div class="col-3">
    <h5>{% trans "Incentives" %}</h5>
  </div>
  <div class="col">
    {% for bid in bids %}
    {% include 'tracker/partials/option.html' with event=event bid=bid hide_run=true only %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
