{% extends "base.html" %}
{% load donation_tags %}
{% load i18n %}

{% block title %}
{% trans "Runs" %} - {{ event.name }} - {% trans "Donation Tracker" %}
{% endblock %}

{% block jumbotron %}
<div class="bg-transparent jumbotron jumbotron-fluid m-0 text-white">
	<div class="container">
		<div class="text-white-50">
			<a class="text-reset" href="{% event_url event 'tracker:event:index' %}">
				{{ event.name }}
			</a>
		</div>
		<h1>
			{% trans "Runs" %}
		</h1>
	</div>
</div>
{% endblock %}

{% block content %}
{% for run in runs %}
<div class="card mb-4 shadow">
	<div class="no-gutters">
		<div class="position-static">
			<div class="card-body pb-3 pt-3">
				<div class="d-flex justify-content-between small text-muted">
					<div>{{ run.starttime|date:"DATETIME_FORMAT" }}</div>
					<div><i class="fa fa-clock-o"></i> {{ run.run_time }}</div>
				</div>
				<a class="h5 m-0 stretched-link" href="{% event_url event 'tracker:event:run' pk=run.pk %}">
					{{ run.name }}
				</a>
			</div>
		</div>
		<div class="card-body pt-0">
			<div class="row small">
				<div class="col-6 col-md-3">
					<div class="text-muted">{% trans "Category" %}</div>
					<div class="h6 m-md-0">{% firstof run.category "&mdash;" %}</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="text-muted">{% trans "Platform" %}</div>
					<div class="h6 m-md-0">{% firstof run.console "&mdash;" %}</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="text-muted">{% trans "Runners" %}</div>
					<div class="h6 m-0">{% firstof run.deprecated_runners "&mdash;" %}</div>
				</div>
				<div class="col-6 col-md-3">
					<div class="text-muted">{% trans "Commentators" %}</div>
					<div class="h6 m-0">{% firstof run.commentators "&mdash;" %}</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}
