{% extends "base.html" %}

{% load static %}

{% block title %}
{% trans "Submit Prize" %} - {{ event.name }} - {% trans "Donation Tracker" %}
{% endblock %}

{% block content %}
<div id="container">
    <h1> Completed </h1>
    <p> Thank you for your submission. We will send an e-mail to {{ prize.handler.email }} once we have decided if we
        will use your prize. Please check that e-mail for additional contact from us, especially after the event with
        information about where to ship your prize (if necessary). </p>
    <br />
    <a href="{% url 'tracker:user_index' %}">Back to Self Service index</a>
    <br />
</div>
{% endblock %}
