{% extends "base.html" %}

{% load donation_tags %}
{% load static %}

{% block title %}
{% trans "Submit Prize" %} - {{ event.name }} - {% trans "Donation Tracker" %}
{% endblock %}

{% block head %}
  <script src="{% static 'donationbids.js' %}"></script>

  <script type="text/javascript">

    RUNS = {{ runs | safe }};

    var runBidsFilter = new MegaFilter( RUNS, [], ['name', 'description', 'runners'],
      function(run){ return run.name + ((run.category == null) ? '' : ' ' + run.category); },
      function(run){
        return run.name + ((run.category == null) ? '' : ' ' + run.category) + "<br /> Runners: " + run.runners + "<br /> Details: " + run.description + "<br />";
      }
    );

    $(document).ready( function(){
      if (RUNS.length == 0) {
        $("#div_id_startrun").hide();
        $("#div_id_endrun").hide();
      }

      $(".mf_widget.mf_model_run").each(function(i, obj) {
        runBidsFilter.applyToWidget(obj);
      });
    });

  </script>

{% endblock %}

{% block content %}

<div id="container">

<h1>Prize Submissions for {{event.name}}</h1>
<p>This is the prize submission form for {{event.name}}. Please fill out all the information below as accurately as possible. Note that we may not accept all prize submissions, so please check your email for updates on your prize submission. </p>
<br />

{% standardform form "prizeform" "Submit" %}

<a name="imagetips"></a>
<h2>Notes For Taking Prize Images</h2>

<div>Try and take good photos, especially of your own work! Be proud of it! Some basic photography tips for ANY camera:
<ul>
<li>Use lots of lights and turn off the camera&#39;s flash. A well-lit room (or especially outdoor sun) will provide a much better image overall, especially for smartphone pictures. If you MUST use flash, avoid glare.</li>

<li>Take many photos! You can always delete the bad ones later.</li>

<li>Orient your camera/phone to fit the subject. If the object is really tall, shoot your photo in portrait (tall). If it&#39;s wide, shoot it in landscape (wide). A common mistake for smartphone users is to take everything in portrait, resulting in tiny photos.</li>

<li>Don&#39;t upload to Facebook or other social media pages for this submission. They dramatically reduce the quality of your image.</li>
</ul>
</div>

</div>

{% endblock %}
