<template>
  <div class="bg-dark overflow-hidden rounded text-white">
    <div class="align-items-center row no-gutters">
      <div class="col p-3">
        <h6 class="m-0">{{ title }}</h6>
        <small class="text-white-50">{{ description || $t("eventWide") }}</small>
      </div>
      <div class="col-auto p-3">
        <h5 class="m-0" v-currency="choice.amount"></h5>
      </div>
      <div class="align-self-stretch col-auto d-flex">
        <button type="button" class="btn btn-dark px-3 rounded-0" @click="remove()">
          <svg viewBox="0 0 24 24" fill="currentColor" width="24px" height="24px">
            <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" />
          </svg>
        </button>
      </div>
    </div>
    <div v-if="errorMessages.length > 0" class="bg-danger font-weight-bold p-3 small">
      <ul class="list-unstyled m-0">
        <li v-for="(message, index) in errorMessages" :key="index">
          {{ message }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  props: ["availableBids", "choice", "errors"],
  emits: ["remove"],
  computed: {
    selectedBid() {
      return this.availableBids.find((bid) => bid.id === this.choice.bid);
    },
    parentBid() {
      return this.availableBids.find((bid) => bid.id === this.selectedBid.parent);
    },
    title() {
      if (this.choice.customoptionname) {
        return this.choice.customoptionname;
      }

      return this.selectedBid.name;
    },
    description() {
      if (this.choice.customoptionname) {
        return this.selectedBid.name;
      }

      if (this.parentBid) {
        return this.parentBid.name;
      }

      return null;
    },
    errorMessages() {
      if (!this.errors) {
        return [];
      }

      return Object.values(this.errors).reduce((result, messages) => result.concat(messages), []);
    }
  },
  methods: {
    remove() {
      this.$emit("remove", this.choice);
    },
  },
});
</script>
