<template>
  <teleport to="body">
    <div ref="modal" class="modal fade" :class="$style.wrapper" tabindex="-1" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" :class="$style.inner">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              {{ $t("modals.newBid.title") }}
            </h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body overflow-hidden py-0" :class="$style.body">
            <div class="h-100 row">
              <div class="border-right col col-5 col-md-4 col-lg-3 h-100 overflow-auto px-0">
                <div class="form-group m-0 p-3 sticky-top">
                  <input type="text" class="form-control" v-model="filterQuery" :placeholder="$t('placeholders.filterIncentives')">
                </div>
                <div class="border-top list-group list-group-flush">
                  <button v-for="bid in filteredIncentives" :key="bid.id" type="button" :class="['list-group-item list-group-item-action', { active: incentiveId === bid.id }]" @click="incentiveId = bid.id">
                    <h6 class="m-0 text-truncate">{{ bid.name }}</h6>
                    <small class="text-truncate">{{ bid.speedrun ? bid.speedrun.name : $t("eventWide") }}</small>
                  </button>
                </div>
              </div>
              <div class="col h-100 overflow-auto py-3">
                <template v-if="currentIncentive">
                  <h5 class="m-0">{{ currentIncentive.name }}</h5>

                  <p class="text-muted">
                    {{ currentIncentive.speedrun ? currentIncentive.speedrun.name : $t("eventWide") }}
                  </p>

                  <p v-if="currentIncentive.description" class="bg-dark px-3 py-2 rounded text-white">
                    {{ currentIncentive.description }}
                  </p>

                  <template v-if="currentIncentive.goal">
                    <div class="progress mb-2">
                      <div class="progress-bar" v-bind="{ width: `${currentIncentive.total / currentIncentive.goal * 100}%` }" />
                    </div>

                    <div class="clearfix mb-4 small text-muted">
                      <div class="float-left">
                        <strong v-currency="currentIncentive.total" /> / <span v-currency="currentIncentive.goal" />
                      </div>
                      <div class="float-right">
                        <span v-currency="currentIncentive.total - currentIncentive.goal" />
                      </div>
                    </div>
                  </template>

                  <div class="form-group">
                    <label class="font-weight-bold">{{ $t("fields.amount.label") }}</label>
                    <CurrencyInput v-model="amount" :min="1" :currency="event.paypal_currency" :max="remainingAmount" :placeholder="$t('placeholders.amount')" />
                    <i18n-t tag="div" keypath="fields.bidAmount.help" class="form-text small text-muted">
                      <strong v-currency="remainingAmount" />
                    </i18n-t>
                  </div>

                  <label v-for="bid in childrenBids" :key="bid.id" class="form-check">
                    <input type="radio" class="form-check-input" :value="bid.id" v-model="optionId">
                    <div class="row">
                      <div class="col text-truncate">{{ bid.name }}</div>
                      <div class="col-auto">
                        <strong v-currency="bid.total" />
                      </div>
                    </div>
                  </label>

                  <label v-if="currentIncentive.allow_user_options" class="form-check">
                    <input type="radio" class="form-check-input" :value="0" v-model="optionId">
                    <div class="form-group">
                      <div class="mb-2">{{ $t("inputs.newOption") }}</div>
                      <RemainingInput v-if="optionId === 0" v-model="customoptionname" :maxlength="currentIncentive.option_max_length" :placeholder="$t('placeholders.newOption')" />
                    </div>
                  </label>
                </template>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              {{ $t("close") }}
            </button>
            <button type="button" class="btn btn-primary" :disabled="!isValid" @click="submit()">
              {{ $t("modals.newBid.submit") }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </teleport>
</template>

<script>
import { defineComponent } from 'vue';

import CurrencyInput from "./CurrencyInput.vue";
import RemainingInput from "./RemainingInput.vue";

export default defineComponent({
  props: ["availableBids", "event", "remainingAmount"],
  emits: ["addBid"],
  components: { CurrencyInput, RemainingInput },
  data() {
    return {
      filterQuery: "",
      customoptionname: "",
      incentiveId: null,
      optionId: null,
      amount: null,
    };
  },
  computed: {
    allIncentives() {
      return this.availableBids.filter((bid) => bid.parent === null);
    },
    filteredIncentives() {
      if (this.filterQuery.length > 0) {
        return this.allIncentives.filter((bid) => bid.name.match(new RegExp(this.filterQuery, "i")));
      }

      return this.allIncentives;
    },
    currentIncentive() {
      return this.availableBids.find((bid) => bid.id === this.incentiveId);
    },
    childrenBids() {
      return this.availableBids.filter((bid) => bid.parent === this.incentiveId);
    },
    currentOption() {
      return this.childrenBids.find((bid) => bid.id === this.optionId);
    },
    displayOptions() {
      return this.currentIncentive && (this.currentIncentive.allow_user_options || this.childrenBids.length > 0);
    },
    displaycustomoptionname() {
      return this.displayOptions && this.currentIncentive.allow_user_options && this.optionId === 0;
    },
    displayAmount() {
      return !!this.currentIncentive;
    },
    isValid() {
      if (this.amount <= 0 || this.amount > this.remainingAmount) {
        return false;
      }

      if (!this.currentIncentive) {
        return false;
      }

      if (this.childrenBids.length > 0) {
        if (this.optionId === 0) {
          if (this.customoptionname.length === 0) {
            return false;
          }
        } else if (!this.currentOption) {
          return false;
        }
      }

      return true;
    },
  },
  watch: {
    incentiveId() {
      this.optionId = null;
    },
    optionId() {
      this.customoptionname = "";
    },
  },
  methods: {
    open() {
      this.customoptionname = "";
      this.incentiveId = null;
      this.optionId = null;
      this.amount = null;

      window.jQuery(this.$refs.modal).modal("show");
    },
    submit() {
      this.$emit("addBid", {
        customoptionname: this.optionId > 0 ? undefined : this.customoptionname,
        bid: this.optionId > 0 ? this.optionId : this.incentiveId,
        amount: this.amount,
      });

      window.jQuery(this.$refs.modal).modal("hide");
    },
  },
});
</script>

<style module>
.wrapper {
  padding: 1.75rem;
}

.inner {
  max-height: 100vh;
  min-height: 520px;
  max-width: 1140px;
  margin: 0 auto;
}

.body {
  height: 100vh;
}
</style>
