<template>
  <div class="input-group" :class="{ 'input-group-lg': large }">
    <input type="number" class="form-control" v-bind="{ max, min, name, placeholder }" :value="modelValue" @input="onInput" />
    <div class="input-group-append">
      <span class="input-group-text">{{ currency }}</span>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  props: {
    currency: {
      type: String,
    },
    large: {
      type: Boolean,
    },
    max: {
      type: Number,
    },
    min: {
      type: Number,
    },
    modelValue: {
      type: Number,
    },
    name: {
      type: String,
    },
    placeholder: {
      type: String,
    },
  },
  emits: ["update:modelValue"],
  methods: {
    onInput(event) {
      let newValue = Number.parseFloat(event.target.value);

      if (Number.isFinite(newValue)) {
        if (this.max) {
          newValue = Math.min(newValue, this.max);
        }

        if (this.min) {
          newValue = Math.max(newValue, this.min);
        }
      } else {
        newValue = undefined;
      }

      this.$emit("update:modelValue", newValue);
      this.$forceUpdate();
    },
  },
});
</script>
