<template>
  <div class="form-group is-invalid">
    <slot v-bind="{ errors, invalid, styles }" />
    <div v-if="invalid" :class="$style.feedback">
      <ul class="list-unstyled">
        <li v-for="(error, index) in errors" :key="index">
          {{ error.message }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { isEmpty } from 'lodash';
import { defineComponent } from 'vue';

export default defineComponent({
  props: ["errors"],
  computed: {
    invalid() {
      return !isEmpty(this.errors);
    },
    styles() {
      return this.invalid ? "is-invalid" : undefined;
    },
  },
});
</script>

<style module>
.feedback {
  color: #dc3545;
  font-size: 80%;
  margin-top: .25rem;
}
</style>
