<template>
  <div class="btn-group w-100" :class="{ 'btn-group-sm': small }">
    <button type="button" :class="['btn btn-outline-secondary', { active: modelValue === value }]" @click="selectOption(value)" v-for="([value, label]) in options" :key="value" v-text="label" />
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  props: {
    modelValue: {
      type: [Boolean, Number, String],
    },
    options: {
      type: Array,
    },
    small: {
      type: Boolean,
    },
  },
  emits: ["update:modelValue"],
  methods: {
    selectOption(value) {
      if (this.modelValue === value) {
        return;
      }

      this.$emit("update:modelValue", value);
    },
  },
});
</script>
