<template>
  <div class="input-group">
    <input type="text" class="form-control" v-bind="{ maxlength, placeholder }" :value="modelValue" @input="onInput" />
    <div v-if="withMaxLength" class="input-group-append">
      <span class="input-group-text">{{ modelValue.length }} / {{ maxlength || "-" }}</span>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  props: {
    maxlength: {
      type: Number,
    },
    modelValue: {
      type: String,
    },
    placeholder: {
      type: String,
    },
  },
  emits: ["update:modelValue"],
  computed: {
    withMaxLength() {
      return typeof this.maxlength === "number";
    },
  },
  methods: {
    onInput(event) {
      let newValue = event.target.value;

      if (this.withMaxLength && newValue.length > this.maxlength) {
        return;
      }

      this.$emit("update:modelValue", newValue);
      this.$forceUpdate();
    },
  },
});
</script>
