{% if donor.visibility != 'ANON' %}
  <a href="{{ donor.get_absolute_url }}" class="{{ class }}" data-toggle="tooltip" title="{{ donor.full_alias }}">
    {% if label %}{{ label }}{% else %}{{ donor.visible_name }}{% endif %}
  </a>
{% else %}
  <span class="{{ class }}">
    {{ donor.visible_name }}
  </span>
{% endif %}
