{% load donation_tags %}

{{ donor.addressname|default:"(Name Missing)" }}
<br />

{% if donor.addressstreet and donor.addresscity and donor.addressstate and donor.addresscountry %}
  {{ donor.addressstreet }}
  <br />
  {{ donor.addresscity }}, {{ donor.addressstate }}, {{ donor.addresscountry }}
  <br />
  {% if donor.addresszip %}
    {{ donor.addresszip }}
    <br />
  {% endif %}
{% else %}
  <i>No address info</i> <br />
{% endif %}
