{% load donation_tags %}
{% load i18n %}

<div class="card mb-4 shadow{% if not bid.state == 'OPENED' %} opacity-50{% endif %}">
    <div class="no-gutters position-relative row">
        <div class="col position-static">
            <div class="card-body">
                <a class="h5 m-0 stretched-link" href="{% event_url event 'tracker:event:bid' pk=bid.id %}">
                    {{ bid.name }}
                </a>
                <ul class="list-inline m-0">
                    <li class="list-inline-item">
                        {% if bid.speedrun %}
                        <span class="h6">{{ bid.speedrun.name }}</span> ({{ bid.speedrun.category }})
                        {% else %}
                        {% trans "Event Wide" %}
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        {% if bid.goal %}
        <div class="align-items-center col d-flex">
            <div class="card-body">
                <div class="progress mb-1">
                    <div class="progress-bar" style="width: {% widthratio bid.total bid.goal 100 %}%;"></div>
                </div>
                <div class="clearfix">
                    <div class="float-left">
                        {% event_money event bid.total %}
                    </div>
                    <div class="float-right">
                        {% event_money event bid.goal %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% if not bid.goal %}
    {% if bid.children %}
    <table class="m-0 table table-borderless">
        <thead class="thead-light">
            <tr>
                <th class="px-4">{% trans "Name" %}</th>
                <th width="125" class="px-4 text-right">{% trans "Amount" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for option in bid.children %}
            <tr>
                <td class="px-4">
                    <a href="{% event_url event 'tracker:event:bid' pk=option.id %}">
                        {{ option.name }}
                    </a>
                </td>
                <td class="px-4 text-right">
                    {% event_money event option.total %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% elif bid.allowuseroptions %}
    <div class="border-top card-body text-center text-muted">
        {% trans "No options yet, submit one while donating." %}
    </div>
    {% endif %}
    {% endif %}
</div>
