{% load donation_tags %}
{% load i18n %}

<div class="text-center">
    <div class="align-items-center form-row justify-content-center">
        <div class="col-auto">
            {% if pageinfo.has_previous %}
            <a class="btn btn-link" href="?page=1">
                {% trans "&laquo; First" %}
            </a>
            {% else %}
            <a class="btn btn-link disabled">
                {% trans "&laquo; First" %}
            </a>
            {% endif %}
        </div>
        <div class="col-auto">
            {% if pageinfo.has_previous %}
                <a class="btn btn-link" href="?page={{ pageinfo.previous_page_number }}">
                    {% trans "Previous" %}
                </a>
            {% else %}
                <a class="btn btn-link disabled">
                    {% trans "Previous" %}
                </a>
            {% endif %}
        </div>
        <div class="col-auto mx-4">
            {% blocktrans with current=page num_pages=pageinfo.paginator.num_pages %}
                Page {{ page }} of {{ num_pages }}
            {% endblocktrans %}
        </div>
        <div class="col-auto">
            {% if pageinfo.has_next %}
                <a class="btn btn-link" href="?page={{ pageinfo.next_page_number }}">
                    {% trans "Next" %}
                </a>
            {% else %}
                <a class="btn btn-link disabled">
                    {% trans "Next" %}
                </a>
            {% endif %}
        </div>
        <div class="col-auto">
            {% if pageinfo.has_previous %}
            <a class="btn btn-link" href="?page={{ paginator.num_pages }}">
                {% trans "Last &raquo;" %}
            </a>
            {% else %}
            <a class="btn btn-link disabled">
                {% trans "Last &raquo;" %}
            </a>
            {% endif %}
        </div>
    </div>
</div>
