<template>
  <div class="d-flex flex-column overflow-hidden vh-100">
    <div class="flex-shrink-0 pt-2 px-2 text-center">
      <div class="row">
        <div class="col">
          <div class="small">Total</div>
          <div class="font-weight-bold">
            <span v-if="currentEvent" v-currency="currentEvent.amount" />
            <span v-else>-</span>
          </div>
        </div>
        <div class="col">
          <div class="small">Maximum</div>
          <div class="font-weight-bold">
            <span v-if="currentEvent" v-currency="currentEvent.max" />
            <span v-else>-</span>
          </div>
        </div>
        <div class="col">
          <div class="small">Average</div>
          <div class="font-weight-bold">
            <span v-if="currentEvent" v-currency="currentEvent.avg" />
            <span v-else>-</span>
          </div>
        </div>
        <div class="col">
          <div class="small">Count</div>
          <div class="font-weight-bold">
            <span v-if="currentEvent" v-text="currentEvent.count" />
            <span v-else>-</span>
          </div>
        </div>
      </div>
    </div>
    <ul class="flex-shrink-0 nav nav-fill nav-tabs pt-2 px-2">
      <li class="nav-item">
        <a class="nav-link" :class="{ active: activeView === 'donations' }" href="#" @click.prevent="activeView = 'donations'">
          Read Donations <span class="badge badge-pill badge-primary ml-1">{{ pendingDonations.length }}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" :class="{ active: activeView === 'bids' }" href="#" @click.prevent="activeView = 'bids'">
          Process Pending Bids <span class="badge badge-pill badge-primary ml-1">{{ pendingBids.length }}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" :class="{ active: activeView === 'incentives' }" href="#" @click.prevent="activeView = 'incentives'">
          Active Incentives <span class="badge badge-pill badge-primary ml-1">{{ activeIncentives.length }}</span>
        </a>
      </li>
    </ul>
    <div class="h-100 overflow-auto p-2">
      <component :is="activeViewOptions.is" v-bind="activeViewOptions.bind" v-on="activeViewOptions.on" />
    </div>
  </div>
</template>

<script>
import ky from "ky";
import { filter, get, head, omitBy, orderBy, sortBy, values } from "lodash";
import { defineComponent } from 'vue';

import BidManager from "./components/BidManager.vue";
import DonationManager from "./components/DonationManager.vue";
import IncentiveManager from "./components/IncentiveManager.vue";

function makeTree(nodes, parent = null) {
  return nodes
    .filter((node) => node.fields.parent === parent)
    .reduce(
      (tree, node) => [
        ...tree,
        {
          ...node.fields,
          total: Number.parseFloat(node.fields.total),
          children: makeTree(nodes, node.pk),
          id: node.pk,
        },
      ],
      [],
    );
}

export default defineComponent({
  components: { BidManager, DonationManager, IncentiveManager },
  props: ["csrfToken", "event"],
  data() {
    return {
      activeView: "donations",
      currentEvent: null,
      allIncentives: [],
      donations: {},
      bids: {},
    };
  },
  computed: {
    activeViewOptions() {
      switch (this.activeView) {
        case "bids": {
          return {
            is: BidManager,
            bind: {
              bids: this.sortedBids,
            },
            on: {
              clear: this.clearBids,
              update: this.updateBid,
            },
          };
        }

        case "donations": {
          return {
            is: DonationManager,
            bind: {
              donations: this.sortedDonations,
            },
            on: {
              clear: this.clearDonations,
              update: this.updateDonation,
              pin: this.pinDonation,
            },
          };
        }

        case "incentives": {
          return {
            is: IncentiveManager,
            bind: {
              incentives: this.activeIncentives,
            },
            on: {},
          };
        }
      }
    },
    sortedBids() {
      return values(this.bids);
    },
    pendingBids() {
      return filter(this.sortedBids, {
        state: "PENDING",
      });
    },
    sortedDonations() {
      return orderBy(this.donations, ["pinned", "date"], ["desc", "asc"]);
    },
    pendingDonations() {
      return filter(this.sortedDonations, {
        readState: "READY",
      });
    },
    sortedIncentives() {
      return sortBy(this.allIncentives, 'speedrun__starttime');
    },
    activeIncentives() {
      return filter(this.sortedIncentives, {
        state: "OPENED",
      });
    },
  },
  created() {
    this.client = ky.extend({
      prefixUrl: "/api/",
      headers: {
        "X-CSRFToken": this.csrfToken,
      },
    });

    this.refreshData();
  },
  methods: {
    async refreshData() {
      if (this.refreshHandle) {
        clearTimeout(this.refreshHandle);
      }

      try {
        await Promise.all([
          this.fetchBids(),
          this.fetchDonations(),
          this.fetchIncentives(),
          this.fetchCurrentEvent(),
        ]);
      } catch {}

      this.refreshHandle = setTimeout(() => this.refreshData(), 10000);
    },
    async fetchBids() {
      const response = this.client.get("search/", {
        searchParams: {
          event: this.event.id,
          type: "bidtarget",
          feed: "pending",
        },
      });

      for (const item of await response.json()) {
        this.bids[item.pk] = {
          id: item.pk,
          name: item.fields.name,
          speedrunName: item.fields.speedrun__name,
          parentName: item.fields.parent__name,
          state: item.fields.state,
        };
      }
    },
    async updateBid(bid, state) {
      const formData = new FormData();

      if (bid.state === state) {
        state = "PENDING";
      }

      formData.set("id", bid.id);
      formData.set("type", "bid");
      formData.set("state", state);

      await this.client.post("edit/", {
        body: formData,
      });

      bid.state = state;
    },
    clearBids() {
      this.bids = omitBy(this.bids, (bid) => includes(["DENIED", "OPENED"], bid.state));
    },
    async fetchDonations() {
      const response = this.client.get("search/", {
        searchParams: {
          all_comments: "",
          event: this.event.id,
          type: "donation",
          feed: "toread",
        },
      });

      for (const item of await response.json()) {
        this.donations[item.pk] = {
          id: item.pk,
          date: Date.parse(item.fields.timereceived),
          from: item.fields.donor__public,
          comment: item.fields.comment,
          commentState: item.fields.commentstate,
          readState: item.fields.readstate,
          amount: item.fields.amount,
          pinned: item.fields.pinned,
        };
      }
    },
    async updateDonation(donation, commentState) {
      const formData = new FormData();

      let readState = "READ";

      if (donation.commentState === commentState) {
        commentState = "PENDING";
        readState = "READY";
      }

      formData.set("id", donation.id);
      formData.set("type", "donation");
      formData.set("commentstate", commentState);
      formData.set("readstate", readState);

      await this.client.post("edit/", {
        body: formData,
      });

      donation.commentState = commentState;
      donation.readState = readState;
    },
    async pinDonation(donation) {
      const formData = new FormData();

      formData.set("id", donation.id);
      formData.set("type", "donation");
      formData.set("pinned", donation.pinned ? "False" : "True");

      await this.client.post("edit/", {
        body: formData,
      });

      donation.pinned = !donation.pinned;
    },
    clearDonations() {
      this.donations = omitBy(this.donations, {
        readState: "READ",
      });
    },
    async fetchIncentives() {
      const response = this.client.get("search/", {
        searchParams: {
          event: this.event.id,
          type: "allbids",
          feed: "all",
        },
      });

      this.allIncentives = makeTree(await response.json());
    },
    async fetchCurrentEvent() {
      const response = this.client.get("search/", {
        searchParams: {
          id: this.event.id,
          type: "event",
        },
      });

      this.currentEvent = get(head(await response.json()), "fields");
    },
  },
});
</script>
